@font-face {
    font-family: 'JMH Arkham';
    src: url('JmharkhamRegular-olD0.ttf');
}

* {
    font-family: 'JMH Arkham', serif;
    padding: 0;
    margin: 0;
}

html {
    background-color: #39395d;
}

body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    background-image: url('img/mountains.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

body.main-page {
    justify-content: center;
}

#container {
    overflow: scroll;
    padding-bottom: 2vw;
}

#container::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.title {
    text-align: center;
}

.title .title-main {
    font-size: 10vw;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.05em;
}

.title .title-main:before, .title .title-main:after {
    content: '~';
}

.user-page .title-main {
    font-size: 6vw !important;
    text-shadow: 0 0 0.25vw rgba(0, 0, 0, 0.17) !important;
    color: rgba(255, 255, 255, 0.67) !important;
    margin-top: 1vw !important;
}

.title .title-sub {
    font-size: 3vw;
    color: rgba(255, 255, 255, 0.67);
    text-shadow: 0 0 0.25vw rgba(0, 0, 0, 0.25);
}

@media (max-aspect-ratio: 3/4) {
    .title .title-sub {
        font-size: 4.5vw;
    }
}

.title .title-caption {
    font-size: 1.5vw;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0 0.15vw rgba(0, 0, 0, 0.5);
}

.user-page .title-sub {
    color: rgba(255, 255, 255, 0.8) !important;
    text-shadow: 0 0 0.25vw rgba(0, 0, 0, 0.25) !important;
}

#users-list {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2vw;
    padding: 1vw 10vw 1vw 10vw;
    backdrop-filter: blur(0.5vw);
}

@media (max-aspect-ratio: 3/4) {
    #users-list {
        padding: 0 6vw 0 6vw;
    }
}

.user-tile {
    font-size: 3vw;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (max-aspect-ratio: 3/4) {
    .user-tile {
        font-size: 7vw;
        padding: 1vw 0 1vw 0;
    }
}

.user-icon, .icon-text > .icon, .material-symbols-rounded {
    height: 1em;
    margin-right: 0.5vw;
    filter: contrast(0.25) brightness(1.5) saturate(3);
    font-size: 1em !important;
}

.user-name {
    color: rgba(255, 255, 255, 0.75);
}

#password-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#password-input-and-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#password-input {
    font-size: 2vw;
    padding: 0.5vw 1vw;
    margin: 1vw 0.25vw;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    border-radius: 0.5vw;
    height: 3vw;
    width: 24vw;
}

::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#login-button {
    font-size: 2.5vw !important;
    padding: 0.5vw 1vw;
    margin: 1vw 0.25vw;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0.5vw;
    height: 3vw;
    width: 3vw;
    cursor: pointer;
    text-align: center;
}

#login-button span {
    margin: 0 !important;
}

table {
    font-size: 2.25vw;
    table-layout: auto;
    max-width: 95vw;
}

@media (min-device-width: 1024px) and (min-aspect-ratio: 4/3) {
    table {
        font-size: 1.5vw;
        max-width: 75vw;
    }
}

table:not(table table), #navigation {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.2);
    margin: 1vw auto;
}

thead tr, .header {
    background-color: rgba(0, 0, 0, 0.3);
}

#events-list th {
    padding-top: 1vw;
    padding-bottom: 1vw;
}

#events-list > tbody > tr:nth-child(4n+1) {
    background-color: rgba(0, 0, 0, 0.1);
}

#events-list th:first-of-type {
    padding-left: 1vw;
}

#events-list th:last-of-type {
    padding-right: 1vw;
}

@media (min-device-width: 1024px) and (min-aspect-ratio: 4/3) {
    #events-list th:last-of-type {
        padding-right: 0.25vw;
    }
}

#events-list > tbody > tr > td, #events-list .receipt-items td, #summary-table td, #settlements-list td {
    padding: 0.5vw 1vw 0.75vw 1vw;
}

@media (min-device-width: 1024px) and (min-aspect-ratio: 4/3) {
    #events-list th:first-of-type {
        padding-left: 0.25vw;
    }
}

.event-row {
    cursor: pointer;
}

.event-details {
    background-color: rgba(0, 0, 0, 0.2);
}

.event-details.hidden {
    display: none;
}

.event-details thead tr {
    background-color: rgba(0, 0, 0, 0.2);
}

.receipt-items > tbody > tr.even-row {
    background-color: rgba(0, 0, 0, 0.1);
}

.receipt-items > * > tr > * {
    font-size: 75%;
}

.event-details-page {
    display: flex;
    flex-direction: column;
    padding: 0.5vw 1vw;
}

.event-details-table {
    width: fit-content;
}

.event-details-entry:not(.large-entry) {
    display: flex;
    flex-direction: column;
    margin-right: 1.5em;
}

.event-details-key {
    font-weight: bold;
    font-size: 80%;
    color: rgba(255, 255, 255, 0.67);
    transform: translateY(20%);
}

.event-details .receipt-image {
    position: relative;
    width: 25vw;
}

.event-details .receipt-image.has-image {
    height: 25vw;
    cursor: pointer;
}

.event-details .receipt-image.expanded {
    width: 50vw;
    height: unset;
}

.event-details .receipt-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    padding-top: 0.33vw;
    mask-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-repeat: no-repeat;
    mask-size: 100%;
}

.event-details .receipt-image.expanded > img {
    mask-image: none;
}

.event-details .receipt-image > .expand-hint {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    transform: rotate(-90deg);
    transform-origin: top right;
}

.event-details .receipt-image.expanded > .expand-hint {
    display: none;
}

#summary-table .money-column {
    background-color: rgba(0, 0, 0, 0.1);
}

#summary-table .summary-description {
    color: rgba(255, 255, 255, 0.75);
    font-size: 75%;
}

.settlements-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settlements-list-container.outer {
    margin: 1vw 0;
    font-size: 2.25vw;
}

@media (min-device-width: 1024px) and (min-aspect-ratio: 4/3) {
    .settlements-list-container.outer {
        font-size: 1.5vw;
    }
}

#settlements-list {
    margin: 0 auto;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

#settlements-list table {
    margin: 0 2vw;
    background-color: transparent;
    backdrop-filter: none;
}

#navigation {
    display: inline-block;
    border-top: 1vw solid rgba(0, 0, 0, 0.4);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#navigation-buttons {
    display: flex;
    flex-direction: row;
    margin: 0 0.5vw;
}

.navigation-button {
    font-size: 2.5vw;
    padding: 0.5vw 1vw;
    margin: 1vw 0.5vw;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

@media (min-device-width: 1024px) and (min-aspect-ratio: 4/3) {
    .navigation-button {
        font-size: 1.5vw;
    }
}

.thin-column {
    white-space: nowrap;
}

.money-column, .money-label {
    letter-spacing: 0.075em;
    white-space: nowrap;
}

.money-column {
    text-align: right;
}

.money-column > span, .money-label > span, .money-dp {
    padding: 0 0.025em 0 0.025em
}

.title-icon {
    transform: translateY(10%);
    filter: brightness(10) drop-shadow(0 0 0.25vw rgba(0, 0, 0, 0.17));
    opacity: 0.67;
    margin: 0 0.5vw;
}

.icon-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.event-type .icon-text .text {
    display: none;
}

@media (min-device-width: 1024px) and (min-aspect-ratio: 4/3) {
    .event-type .icon-text .text {
        display: block;
    }
}

.share-cell {
    font-size: 67% !important;
    padding: 0 1vw 0 1vw !important;
}

.share-cell.first {
    padding-top: 0.5vw !important;
}

.share-cell.last {
    padding-bottom: 0.75vw !important;
}

.settlement-arrow {
    font-weight: 100;
    transform: scaleX(5) scaleY(3) translateY(-20%);
}

.settlement-disclaimer {
    text-align: center;
    max-width: 50vw;
    padding: 0 1vw 1vw 1vw;
}

.small {
    color: rgba(255, 255, 255, 0.6);
    font-size: 60%;
}

.punctuation {
    font-family: serif;
}